body {
    background: linear-gradient(90deg, #0c293f 0%, #0c293f 20%, transparent 30%, transparent 100%);
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.contactUs .title p {
    color: #fff;
    font-size: 0.5em;
    font-weight: 500;
    margin-top: 0;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 35px;
    background: #29924c;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h3 {
    color: black;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 5px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 5px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 150px;
    margin-bottom: 10px;
}

.inputBox button[type="submit"] {
    background: #146b31;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
}

.inputBox ::placeholder {
    color: #999;
}

.info {
    background: #29924c;
}

.info h3 {
    color: #fff;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: #fff;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

#app{
    position: relative;
    width:  180px;
}

#message{
    font-size: 18px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    padding: 20px 25px;
    text-align: center;
    border-radius: 60px;
    background-color: #0c293f;
    transition: 0.3s ease background-color, 0.3s ease box-shadow;
}

#send_btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 19px 12px;
    cursor: pointer;
    transition: 0.3s ease transform;
}

#message.sending{
    background-color: #e05051;
    box-shadow: 0 20px 30px 6px #ff9e9f;
}

#send_btn.sending{
    transform: rotateZ(-90deg);
    animation: shake 0.3s ease 0.5s infinite;
}

@keyframes shake
{
    10%, 90%
    {
        transform: translate3d(-1px,0,0) rotateZ(-90deg);
    }
    20%, 80%
    {
        transform: translate3d(1px,0,0) rotateZ(-90deg);
    }
    30%, 50%, 70%
    {
        transform: translate3d(-1px,0,0) rotateZ(-90deg);
    }
    40%, 60%
    {
        transform: translate3d(1px,0,0) rotateZ(-90deg);
    }
}

#message.sent{
    background-color: #146b31;
    box-shadow: 0 20px 30px -6px #9fffca;
}

#send_btn.sent{
    transform: rotateZ(-90deg);
    animation: moveUp 1s ease 0s forwards;
}

@keyframes moveUp
{
    0%
    {
        margin-top: 0;
        transform: scale(1) rotateZ(-90deg);
    }
    100%
    {
        color: #146b31;
        margin-top: -100px;
        transform: scale(0) rotateZ(-90deg);
    }
}
