@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #E4E9F7;
    --nav-color: #195C24;
    --text-color: #FFF;
    --search-text: #010718;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

.nav-item .nav-link{
    color:white;
}

.nav-link:hover {
    background-color: rgb(33, 100, 54);
    border-radius: 10px;
}


@media only screen and (max-width: 991px) {
    nav {
        position: absolute;
        width: 100%;
    }
    .container-fluid {
        width: 100%;
        height: 80px;
        z-index: 99999;
        text-align: center;
        background: black;
    }
    .navbar-brand,.navbar-toggler,.navbar-collapse{
        margin-top: -75px;
    }
    .nav-item, form{
        background-color: black;
        padding-bottom: 10px;
    }
    form{
        padding: 30px;
    }
    .nav-item .nav-link{
        color: white;
    }
}
